<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{'assets/libs/flip-master/dist/flip.min.css' | theme }}" />
	<link rel="stylesheet" href="{{'assets/node_modules/bootstrap/dist/css/bootstrap.css' | theme }}">
	<link rel="stylesheet" href="{{'assets/css/custom.css' | theme }}">
	<title>Lore y Fer</title>
</head>
<body>
	{% page %}

	{% partial 'general/footer' %}
	<script type="text/javascript" src="{{'assets/node_modules/jquery/dist/jquery.min.js' | theme }}"></script> 
	<script type="text/javascript" src="{{'assets/libs/flip-master/dist/flip.js' | theme }}"></script>

	<script type="text/javascript">
		$(document).ready(()=>{

		})
			function handleTickInit(tick) {

			  var nextYear = (new Date()).getFullYear() + 1;
			  
			  Tick.count.down('2021-10-15').onupdate = function(value) {
			    tick.value = value;
			  };

			}
	</script>
</body>
</html>