<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" 
      type="image/svg" 
      href="{{'assets/images/icon-cheer.svg' | theme }}">
	<link rel="stylesheet" href="{{'assets/libs/flip-master/dist/flip.min.css' | theme }}" />
	<link rel="stylesheet" href="{{'assets/node_modules/bootstrap/dist/css/bootstrap.css' | theme }}">
    <link type="text/css" rel="stylesheet" href="{{'assets/node_modules/lightgallery/css/lightgallery.css' | theme}}" />

    <!-- lightgallery plugins -->
    <link type="text/css" rel="stylesheet" href="{{'assets/node_modules/lightgallery/css/lg-zoom.css' | theme}}" />
    <link type="text/css" rel="stylesheet" href="{{'assets/node_modules/lightgallery/css/lg-thumbnail.css' | theme}}" />
	<link rel="stylesheet" href="{{'assets/css/custom.css' | theme }}">
	<title>Lore y Fer</title>
</head>
<body>
	{% page %}

	{% partial 'general/footer' %}
	<script type="text/javascript" src="{{'assets/node_modules/jquery/dist/jquery.min.js' | theme }}"></script> 
	<script type="text/javascript" src="{{'assets/libs/flip-master/dist/flip.js' | theme }}"></script>
    <script src="{{'assets/node_modules/lightgallery/lightgallery.umd.js' | theme}}"></script>

    <!-- lightgallery plugins -->
    <script src="{{'assets/node_modules/lightgallery/plugins/thumbnail/lg-thumbnail.min.js' | theme}}"></script>
    <script src="{{'assets/node_modules/lightgallery/plugins/zoom/lg-zoom.umd.js' | theme}}"></script>
	<script type="text/javascript">
			$(document).ready(()=>{
				lightGallery(document.getElementById("gallery-container"), {
					speed: 500,
					plugins: [lgZoom,lgThumbnail] 
				});
			})

			function handleTickInit(tick) {

			  var nextYear = (new Date()).getFullYear() + 1;
			  
			  Tick.count.down('2021-10-15').onupdate = function(value) {
			    tick.value = value;
			  };

			}
	</script>
</body>
</html>