==
<?php
	function onStart(){
		use Fvera\WeddingManager\Models\Settings;

		$this['settings'] = $data = Settings::instance();
		tracelog($data);

	}

?>
==
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-RN3EGZC8HQ"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-RN3EGZC8HQ');
	</script>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NR8HP6D');</script>
	<!-- End Google Tag Manager -->
	<link rel="icon"
      type="image/svg"
      href="{{'assets/images/icon-cheer.svg' | theme }}">
	<link rel="stylesheet" href="{{'assets/libs/flip-master/dist/flip.min.css' | theme }}" />
	<link rel="stylesheet" href="{{'assets/node_modules/bootstrap/dist/css/bootstrap.css' | theme }}">
    <link type="text/css" rel="stylesheet" href="{{'assets/node_modules/lightgallery/css/lightgallery.css' | theme}}" />

    <!-- lightgallery plugins -->
    <link type="text/css" rel="stylesheet" href="{{'assets/node_modules/lightgallery/css/lg-zoom.css' | theme}}" />
    <link type="text/css" rel="stylesheet" href="{{'assets/node_modules/lightgallery/css/lg-thumbnail.css' | theme}}" />
    <link type="text/css" rel="stylesheet" href="{{'assets/node_modules/phosphor-icons/src/css/phosphor.css' | theme}}" />
    <link rel="stylesheet" href="{{'assets/node_modules/aos/dist/aos.css' | theme}}" />
	<link rel="stylesheet" href="{{'assets/css/custom-1.css' | theme }}">
	<title>.::{{settings.nombre_novia}} y {{ settings.nombre_novio }}::.</title>
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NR8HP6D"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	{% page %}

	{% partial 'general/footer' %}


	<script type="text/javascript" src="{{'assets/node_modules/jquery/dist/jquery.min.js' | theme }}"></script>
	<script type="text/javascript" src="{{'assets/libs/flip-master/dist/flip.js' | theme }}"></script>
    <script src="{{'assets/node_modules/lightgallery/lightgallery.umd.js' | theme}}"></script>
    <script src="{{'assets/node_modules/aos/dist/aos.js' | theme }}"></script>

    <!-- lightgallery plugins -->
    <script src="{{'assets/node_modules/lightgallery/plugins/thumbnail/lg-thumbnail.min.js' | theme}}"></script>
    <script src="{{'assets/node_modules/lightgallery/plugins/zoom/lg-zoom.umd.js' | theme}}"></script>


	<script type="text/javascript">
			$(document).ready(()=>{
				lightGallery(document.getElementById("gallery-container"), {
					speed: 500,
					plugins: [lgZoom,lgThumbnail]
				});

				AOS.init();
			})

			function handleTickInit(tick) {

			  var nextYear = (new Date()).getFullYear() + 1;

			  Tick.count.down('{{ settings.boda_date ? settings.boda_date | date('Y-m-d') : '2021-12-12' }}T17:00:00').onupdate = function(value) {
			    tick.value = value;
			  };

			}
	</script>

</body>
</html>
