:root {
  
  --contrast-color: #C1C69B;
  --main-color: #f7d2d2;
  --secondary-color: #C1C69B;
  --third-color: #F4EEED;
  --main-text: #665166;
  --bg-color: #f7f8fa;
  --bg-color: #f7f8fa;
}

.text-main{
    color: var(--third-color);
}
.text-accent{
    color: var(--main-color);
}

.text-light-theme{
    color: var(--third-color);
}

.contrast-bg{
    background-color: var(--contrast-color);
}

@font-face {
  font-family: 'Architects Daughter';
  src: url('../fonts/ArchitectsDaughter-Regular.ttf');
}
@font-face {
  font-family: 'Autography';
  src: url('../fonts/Autography.otf');
}
@font-face {
  font-family: 'Stadella';
  src: url('../fonts/Stadella.ttf');
}
@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville.ttf');
}
#main-section {
    min-height: 720px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: linear-gradient(0deg, #F8F9FB, #fffcfc);
}

html,body{
	font-family: 'Baskerville', sans-serif;
	font-size: 18px;
	color: var(--main-text);
	scroll-behavior: smooth;
    background-color: var(--bg-color);
}
div#main-first-step {
    height: 100vh;
    background-size: contain;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
}
div#main-second-step {
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-bg{
    background-color: var(--main-color);
}
.f-100{
    font-size: 100px;
}
.couple-name h1 {
    font-size: 120px;
}
.couple-name {
    position: absolute;
    top: calc(30vh);
}
.deco-img-box{
    position: absolute;
    bottom: -120px;
    /* max-width: 520px;     */
}
.history-photo-box img {
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgb(189 76 76 / 33%);
}
div#deco-img-l {
    left: -100px;
}
div#deco-img-r {
    right: -100px;
}
.description{
    font-size: 32px;
}
.text-main-container{
	min-height: 720px;
}
h1{
	font-size: 100px;
}
h2{
	font-size: 65px;
}
h1,h2,h3{
	font-family: 'Stadella', serif;
}
.title{
	font-family: 'Stadella', serif;
}

img.flower-img-main {
    position: absolute;
    top: 10px;
    max-width: 640px;
}

.bg-accent{
	background-color: var(--main-color); 
}
.bg-white{
	background-color: #FFF; 
}

.text-white{
	color: #FFF;
}
.wdng-text-accent{
	color: var(--main-color);
}

.wdng-txt-subtitle{
	font-size: 23px;

}
h3.wdng-text-accent{
	font-size: 60px;
}

.btn.bg-accent{
	border-radius: 20px;
}

.card-wdng {
    text-align: center;
    min-height: 350px;
}

.card-wdng-header {
    background: var(--main-color);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    margin-top: -2px;
}

.card-wdng-body {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 0 0 20px 20px;
    border-top: 0;
    padding: 20px;
    background-color: var(--main-color);
    padding-top: 0;
}
#wdng-locations p{
    color: #665166;
}
.wdng-btn-alt {
    background: #FFF;
    color: var(--main-color);
    font-weight: 500;
}
a {
    color: #d7b7a2;
}
section#engagement > .container {
    height: 640px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.call-container {
    text-align: center;
    background: var(--secondary-color);
    border-radius: 20px;
    height: 200px;
}
}

/*span.tick-label.tick-text {
    font-size: 32px;

}*/

div#timerSection {
    max-width: 860px;
    margin: auto;
}

.tick {
    font-size:1rem;
}

.tick-label {
    font-size:.375em;
    text-align:center;
}

.tick-group {
    margin:0 .25em;
    text-align:center;
}


#saveTheDate {
    min-height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}


#coupleNames {
    background: var(--main-color);
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    opacity: 0.8;
    color: #F1E8EA;
}

.tick-flip-panel {
    color: #F4EEED;
    background-color: #999B84;
}
span.htext {
    border-bottom: 2px solid #d8ac9c;
}

.engagementMessage {
    margin-top: 160px;
}

.col-md-4.cardGallery {
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.cardGallery .img-fluid {
    object-fit: cover;
    width: 350px;
    height: 350px;
    max-height: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 4px rgb(215 183 162 / 5%);
    cursor: pointer;
    transition: .15s ease-in-out;
}
.cardGallery .img-fluid:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
}
.bgSecondary{
    background-size: cover;
    background-position: top center;
}
section#giftsSection {
    background-position: bottom center;
    padding: 100px 0;
}
#mobile-main-block{
    display: none;
}
@media screen and (max-width: 414px){
    #main-section {
        min-height: auto;
        height: 100vh;
        position: relative;
        padding: 0;
    }
    .block-our-history {
        margin-top: 50px;
    }
    .text-main-container {
        min-height: auto;
    }
    div#main-first-step {
        height: 100vh;
        background-size: cover;
        background-position: center center;
        position: relative;
        background-attachment: unset;
        background-repeat: no-repeat;
        display: none;
    }
    #mobile-main-block {
        display: block;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #coupleNames h1.text-main {
        font-size: 50px !important;
        line-height: 36px;
    }
    div#coupleNames {
        margin-bottom: auto;
    }
    #saveTheDate >div > h1 {
        font-size: 60px !important;
        margin-top: 30px;
    }
    #saveTheDate {
        min-height: auto;
    }
    section#callToAction {
        padding: 0;
    }
    h1.text-white {
        font-size: 60px;
    }
    h1.wdng-text-accent.f-100 {
        font-size: 60px;
    }
    section {
        padding: 0 15px;
    }
    .description {
        font-size: 24px;
    }
    span.tick-label.tick-text {
        font-size: 18px;
    }
    h3.wdng-text-accent {
        font-size: 42px;
    }
    .engagementMessage {
        margin-top: 20px;
    }
    h1.text-light-theme {
        font-size: 52px;
    }
    .col-md-4.cardGallery .img-fluid {
        object-fit: cover;
        width: 350px;
        height: 180px;
    }
    .col-md-4.cardGallery {
        height: 180px;
    }
}

.btn-alt {
    color: #d8ac9c;
    background-color: #fcf9fc;
    border-color: #fcf9fc;
    transition: .15s;
}


.btn-alt:hover {
    color: #d8ac9c;
    background-color: #e8e6e8;
    border-color: #e8e6e8;
}