<section id="callToAction" class="pb-md-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 px-0">
				<div class="call-container d-flex flex-column justify-content-center">
					<p class="text-light-theme description px-4">Esperamos que seas parte de esta gran celebración.</p>
					<div>
						<a href="{{settings.link_confirmacion}}" class="btn btn-light px-4 mt-2" target="blank">
							<span class="d-inline-block">Confirmar Asistencia</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
