<section class="pt-5">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div>
					<img src="{{'assets/images/wedding-img.png' | theme }}" alt="" class="w-100">
				</div>
			</div>
			<div class="col-6 text-center align-items-center d-flex">
				<div>
					<h3 class="wdng-text-accent"><img src="{{'assets/images/icon-church.svg' | theme }}">Ceremonia</h3>
					<p>La ceremonia se realizará el 15 de Octubre a las 17:00 horas en la Iglesia Santa Maria y San Nicolas, Lambaré.</p>
					<a href="https://www.google.com/maps/place/San+Nicol%C3%A1s+y+Santa+Mar%C3%ADa,+Lambar%C3%A9/@-25.3240743,-57.6305384,17z/data=!3m1!4b1!4m5!3m4!1s0x945da83b8ab669b7:0xad441469aee0d1c5!8m2!3d-25.3240964!4d-57.628411" target="blank" class="btn text-white bg-accent mt-2">Ver dirección</a>
				</div>
			</div>
		</div>
	</div>
</section>