<section class="pt-5">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div>
					<img src="{{'assets/images/wedding-img.png' | theme }}" alt="" class="w-100">
				</div>
			</div>
			<div class="col-6 text-center">
				<div>
					<h3 class="wdng-text-accent"><img src="{{'assets/images/icon-church.svg' | theme }}">Ceremonia</h3>
					<p>La ceremonia se realizará el 15 de Octubre a las 17:00 horas en la Iglesia Santa Maria y San Nicolas, Lambaré.</p>
					<button class="btn text-white bg-accent mt-2">Ver dirección</button>
				</div>
			</div>
		</div>
	</div>
</section>