

<section id="wdng-locations" class="main-bg py-5">
	<div class="container">
        <div class="row text-center mt-2 mt-md-5 px-md-4">
			<div class="col-12">
				<div>

					<h1 class="text-white">Pedile un tema al dj</h1>
					<p>
                        Contanos que música no puede faltar esa noche.
                    </p>
                    <a type="button" class="btn btn-outline-light" href="{{ settings.link_dj}}">
                    Pedir tema
                    </a>
				</div>
			</div>

		</div>
    </div>
</section>