{% set bg_img = settings.compromiso_img ? (settings.compromiso_img | media) : ('assets/images/engagement.png' | theme) %}

<section id="engagement">
	<div class="container py-5 position-relative"
         style="background-image: url({{bg_img}})">
		<div class="row position-relative" style="z-index: 1">
			<div class="col-12 text-center">
				<h1 class="text-light-theme">
					Nuestro Compromiso
				</h1>
				<div class="engagementMessage">
                    {{ settings.compromiso_description | raw }}
				</div>
			</div>
		</div>
	</div>
</section>
