<section id="engagement">
	<div class="container py-5" style="background-image: url({{'assets/images/engagement.png' | theme }})">
		<div class="row">
			<div class="col-12 text-center">
				<h1>
					Nuestro Compromiso
				</h1>
				<h6>¿Cómo decidimos que queriamos estar juntos para siempre?</h6>
				<p class="px-5">
					Fuimos una semana de vacaciones a Uruguay, el ultimo dia decidimos dar un ultimo paseo en la playa por la mañana y después de caminar un rato le miro y le pido si se quería casar conmigo...
				</p>
				<p>
					Ella me abrazo
				</p>
				<p>
					¡Y DIJO QUE SI!

				</p>
			</div>
		</div>
	</div>
</section>