<section id="giftsSection" class="py-5 bgSecondary" style="background-image: url({{'assets/images/bg-second-r.png' | theme }})">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-5">
				<p class="text-center font-italic description">
				“Todo regalo que se da, aunque sea pequeño, en realidad es grande, si se da con cariño.”
				</p>
			</div>

			<div class="col-12 col-md-6 mb-4 mb-md-auto">
				<div class="card-wdng">				
					<div class="card-wdng-header">
						<img src="{{'assets/images/icon-gift.svg' | theme}}" alt="">
					</div>
					<div class="card-wdng-body">
						<div>
							<h3 class="wdng-text-accent mt-2">Lista de Bodas</h3>
							<p>Si deseas realizarnos un regalo estamos muy agradecidos y podés hacerlo en Plaza Hogar y 
Feria Asunción</p>
							
						</div>

					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="card-wdng">				
					<div class="card-wdng-header">
						<img src="{{'assets/images/icon-plane.svg' | theme}}" alt="">
					</div>
					<div class="card-wdng-body">
						<div>
							<h3 class="wdng-text-accent mt-2">Cuenta Bancaria</h3>
							<p>
								Nro. Cuenta: 1190777<br>
								CI: 3.636.381<br>
								Titular: Fernando Vera<br>
								Vision Banco</p>
							
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</section>