<section id="giftsSection" class="bgSecondary" style="background-image: url({{'assets/images/backgrounds/bg-side-right-1.png' | theme }})">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-5">
				<div class="mx-auto text-center" style="filter:brightness(0.4);"> 
					<img src="{{'assets/images/icon-plane.svg' | theme}}" alt="">
				</div>
				<p class="text-center font-italic description">
				“Todo regalo que se da, aunque sea pequeño, en realidad es grande, si se da con cariño.”
				</p>
			</div>

			<div class="col-12 col-md-6 mb-4 mb-md-auto">
				<div class="card-wdng">				
					<div class="card-wdng-header">
						<h2 class="mt-2 text-white">Lista de Bodas</h2>
					</div>
					<div class="card-wdng-body">
						<div>
							{{ settings.gift_list | raw }}
						</div>

					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="card-wdng">				
					<div class="card-wdng-header">
						<h2 class="mt-2 text-white">Cuenta Bancaria</h2>
					</div>
					<div class="card-wdng-body">
						<div class="row w-100">							
							<div class="col">
								{{ settings.gift_account_novia | raw }}
							</div>
							{# <div class="col">
								{{ settings.gift_account_novio | raw }}
							</div>															 #}
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</section>