<section id="giftsSection" class="py-5 bgSecondary" style="background-image: url({{'assets/images/backgrounds/bg-side-right-1.png' | theme }})">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-5">
				<div class="mx-auto text-center" style="filter:brightness(0.4);"> 
					<img src="{{'assets/images/icon-plane.svg' | theme}}" alt="">
				</div>
				<p class="text-center font-italic description">
				“Si deseás realizarnos un regalo podés colaborar con nuestra Luna de Miel...”
				</p>
			</div>

			<div class="col-12 col-md-6 mb-4 mb-md-auto">
				<div class="card-wdng">				
					<div class="card-wdng-header">
						<h2 class="mt-2 text-white">Lista de Bodas</h2>
					</div>
					<div class="card-wdng-body">
						<div>
							<p>Si deseas realizarnos un regalo estamos muy agradecidos y podés hacerlo acercandote a  <strong>Plaza Hogar</strong> y <strong>Feria Asunción</strong> y de forma online en <a href="https://tupi.com.py/regalos_en_lista/4069/Boda-de-Fernando-Vera-y-Lorena-Gaete-el-15-10-2021">Tupi</a>.</p>						
						</div>

					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="card-wdng">				
					<div class="card-wdng-header">
						<h2 class="mt-2 text-white">Cuenta Bancaria</h2>
					</div>
					<div class="card-wdng-body">
						<div class="row">							
							<div class="col">
								<p>
									<strong>Nro. Cuenta:</strong> 1190777<br>
									<strong>Titular:</strong> Fernando Vera<br>
									Vision Banco</p>
							</div>
							<div class="col">
								<p>
									<strong>Nro. Cuenta:</strong> 13731991<br>
									<strong>Titular:</strong> Lorena Gaete<br>
									Vision Banco</p>
							</div>
							
							
							
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</section>