<section id="main-section" style="background-image: url({{'assets/images/bgMain.jpg' | theme }})">
	<div class="justify-content-center h-100 align-items-end text-main-container p-relative d-none d-md-flex">
		{#<img src="{{'assets/images/flower-arrangement.png' | theme }}" alt="" class="flower-img-main">#}
		<div id="coupleNames" class="text-center" data-aos="fade_up">
			<p>Nos casamos...</p>
			<h1 id="" class="text-main" style="font-size: 60px;">
				Lorena y Fernando
			</h1>
			{% if this.page.id == 'index' %}	
				<a class="btn btn-alt" href='https://docs.google.com/forms/d/1wFHN80z59YQfUzGtH8HdXg0UcGSX91mRVDsrV0X1adA/edit'>Confirma tu asistencia</a>
			{% endif %}
		</div>
		
	</div>
</section>
<div class="justify-content-center h-100 align-items-end text-main-container p-relative d-flex d-md-none">
		{#<img src="{{'assets/images/flower-arrangement.png' | theme }}" alt="" class="flower-img-main">#}
		<div id="coupleNames" class="text-center" data-aos="fade_up">
			<p>Nos casamos...</p>
			<h1 id="" class="text-main" style="font-size: 60px;">
				Lore y Fer
			</h1>
			{% if this.page.id == 'index' %}
			<a class="btn btn-alt " href='https://docs.google.com/forms/d/1wFHN80z59YQfUzGtH8HdXg0UcGSX91mRVDsrV0X1adA/edit' style="font-size:12px;">Confirma tu asistencia</a>	
			{% endif %}
		</div>
		
</div>