<section class="py-5 bgSecondary" style="background-image: url({{'assets/images/bg-second-l.png' | theme }})">
	<div class="container text-center">
		<div class="row">
			<div class="col-12">
				<h1 class="wdng-text-accent">Nuestras Fotos</h1>
			</div>
			<div class="col-12">
				<div class="row">

					<div class="col-12">
<div class="row" id="gallery-container">

    
    <a class="col-6 col-md-4 mb-4 cardGallery" 
    	{#data-lg-size="400-600-375, 600-900-480, 1600-2400" #}
    	data-src="{{'assets/images/gallery/photo(1).jpg' | theme}}" >
        <img class="img-fluid" style="object-position: top;" src="{{'assets/images/gallery/photo(1).jpg' | theme}}" />
    </a>	
    
    <a class="col-6 col-md-4 mb-4 cardGallery" 
    	{#data-lg-size="400-600-375, 600-900-480, 1600-2400" #}
    	data-src="{{'assets/images/gallery/photo(2).JPG' | theme}}" >
        <img class="img-fluid" style="object-position: top;" src="{{'assets/images/gallery/photo(2).JPG' | theme}}" />
    </a>	
    
    <a class="col-6 col-md-4 mb-4 cardGallery" 
    	{#data-lg-size="400-600-375, 600-900-480, 1600-2400" #}
    	data-src="{{'assets/images/gallery/photo(3).JPG' | theme}}" >
        <img class="img-fluid" style="object-position: top;" src="{{'assets/images/gallery/photo(3).JPG' | theme}}" />
    </a>	
    
    <a class="col-6 col-md-4 mb-4 cardGallery" 
    	{#data-lg-size="400-600-375, 600-900-480, 1600-2400" #}
    	data-src="{{'assets/images/gallery/photo(4).JPG' | theme}}" >
        <img class="img-fluid" style="object-position: center;" src="{{'assets/images/gallery/photo(4).JPG' | theme}}" />
    </a>	
    
    <a class="col-6 col-md-4 mb-4 cardGallery" 
    	{#data-lg-size="400-600-375, 600-900-480, 1600-2400" #}
    	data-src="{{'assets/images/gallery/photo(5).JPG' | theme}}" >
        <img class="img-fluid" style="object-position: center;" src="{{'assets/images/gallery/photo(5).JPG' | theme}}" />
    </a>	
    
    <a class="col-6 col-md-4 mb-4 cardGallery" 
    	{#data-lg-size="400-600-375, 600-900-480, 1600-2400" #}
    	data-src="{{'assets/images/gallery/photo(6).JPG' | theme}}" >
        <img class="img-fluid" style="object-position: top;" src="{{'assets/images/gallery/photo(6).JPG' | theme}}" />
    </a>

</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>