<section class="py-5 bgSecondary" style="background-image: url({{'assets/images/bg-second-l.png' | theme }})">
	<div class="container text-center">
		<div class="row">
			<div class="col-12">
				<h1 class="wdng-text-accent">Nuestras Fotos</h1>
			</div>
			<div class="col-12">
				<div class="row">

					<div class="col-12">
<div class="row" id="gallery-container">

    {% for data in settings.gallery %}
    <a class="col-6 col-md-4 mb-4 cardGallery" 
    	{#data-lg-size="400-600-375, 600-900-480, 1600-2400" #}
    	data-src="{{ data.photo | media }}" >
        <img class="img-fluid" style="object-position: top;" src="{{ data.photo | media }}" />
    </a>	
    {% endfor %}


</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>