
<section id="saveTheDate" class="text-center py-5" style="background-image: url({{'assets/images/backgrounds/bg-side-left-1.png' | theme }})">
	<div>
		<h1 class="wdng-text-accent" style="font-size: 100px;">Save the Date</h1>
		<p class="description">Ya estamos contando los días para la gran fecha</p>
		<p class="description ">
		{{ settings.boda_date | date('d') }} <span class="text-accent">-</span>
		{{ settings.boda_date | date('m') }} <span class="text-accent">-</span>
		{{ settings.boda_date | date('Y') }}
		
		</h6>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-2 mt-md-5">
				<div id="timerSection">
					<div class="tick"
					     data-did-init="handleTickInit">

					    <div data-repeat="true"
					         data-layout="horizontal center fit"
					         data-transform="preset(d, h, m, s) -> delay">

					        <div class="tick-group">

					            <div data-key="value"
					                 data-repeat="true"
					                 data-transform="pad(00) -> split -> delay">

					                <span data-view="flip"></span>

					            </div>

					            <span data-key="label"
					                  data-view="text"
					                  class="tick-label"></span>

					        </div>

					    </div>

					</div>
				</div>
				
			</div>

		</div>	
	</div>
	
</section>

<section id="wdng-locations" class="main-bg py-5">
	<div class="container">
		{% if this.page.id == 'index' %}
		<div class="row text-center mt-2 mt-md-5 px-4">
			<div class="col-12 col-md-6">
				<div>
					<div class="mx-auto mb-4 mt-5 mt-md-auto">
						<img src="{{'assets/images/icon-church.svg' | theme }}">
					</div>
					<h2 class="text-white">Ceremonia</h2>
					<p>{{ settings.direccion_ceremonia | raw }}</p>
					<a class="wdng-btn-alt btn  bg-accent mt-2" href="{{ settings.direccion_iglesia_link }}" >Ver dirección</a>
				</div>
			</div>
			<div class="col-12 col-md-6 mt-5 mt-md-auto">
				<div>
					<div class="mx-auto mb-4">
						<img src="{{'assets/images/icon-cheer.svg' | theme }}">
					</div>
					<h2 class="text-white">Fiesta</h2>
					<p>{{ settings.direccion_fiesta | raw }}</p>
					<a class="wdng-btn-alt btn  bg-accent mt-2" href="{{ settings.direccion_fiesta_link }}" >Ver dirección</a>
				</div>
			</div>
			<div class="col-12 mt-5 pt-5">
				<h2 class="text-white">Dress Code</h2>
				<p class="">
					{{settings.dress_code}}
				</p>
			</div>
		</div>
		{% endif %}
	</div>
</section>