<section id="saveTheDate" class="text-center py-5">
	<div>
		<h1 class="wdng-text-accent" style="font-size: 100px;">Save the Date</h1>
		<p class="description">Ya estamos contando los días para la gran fecha</p>
		<p class="description ">
		15 <span class="text-accent">|</span> 10  <span class="text-accent">|</span> 2021
		</h6>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-5">
				<div id="timerSection">
					<div class="tick"
					     data-did-init="handleTickInit">

					    <div data-repeat="true"
					         data-layout="horizontal center fit"
					         data-transform="preset(d, h, m, s) -> delay">

					        <div class="tick-group">

					            <div data-key="value"
					                 data-repeat="true"
					                 data-transform="pad(00) -> split -> delay">

					                <span data-view="flip"></span>

					            </div>

					            <span data-key="label"
					                  data-view="text"
					                  class="tick-label"></span>

					        </div>

					    </div>

					</div>
				</div>
				
			</div>
			<div class="row text-center mt-2 mt-md-5">
				<div class="col-6">
					<div>
						<div class="mx-auto mb-4">
							<img src="{{'assets/images/icon-church.svg' | theme }}">
						</div>
						<h3 class="wdng-text-accent">Ceremonia</h3>
						<p>La ceremonia se realizará el 15 de Octubre a las 17:00 horas en la Iglesia Santa Maria y San Nicolas, Lambaré.</p>
						<button class="btn text-white bg-accent mt-2">Ver dirección</button>
					</div>
				</div>
				<div class="col-6">
					<div>
						<div class="mx-auto mb-4">
							<img src="{{'assets/images/icon-cheer.svg' | theme }}">
						</div>
						<h3 class="wdng-text-accent">Fiesta</h3>
						<p>La fiesta se realizará el  15 de Octubre a las 18:00 horas en Las Takuaras, Lambaré. </p>
						<button class="btn text-white bg-accent mt-2">Ver dirección</button>
					</div>
				</div>
			</div>
		</div>	
	</div>
	
</section>