<section id="saveTheDate" class="text-center py-5" style="background-image: url({{'assets/images/bg-mainv2.png' | theme }})">
	<div>
		<h1 class="wdng-text-accent" style="font-size: 100px;">Save the Date</h1>
		<p class="description">Ya estamos contando los días para la gran fecha</p>
		<p class="description ">
		15 <span class="text-accent">|</span> 10  <span class="text-accent">|</span> 2021
		</h6>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-2 mt-md-5">
				<div id="timerSection">
					<div class="tick"
					     data-did-init="handleTickInit">

					    <div data-repeat="true"
					         data-layout="horizontal center fit"
					         data-transform="preset(d, h, m, s) -> delay">

					        <div class="tick-group">

					            <div data-key="value"
					                 data-repeat="true"
					                 data-transform="pad(00) -> split -> delay">

					                <span data-view="flip"></span>

					            </div>

					            <span data-key="label"
					                  data-view="text"
					                  class="tick-label"></span>

					        </div>

					    </div>

					</div>
				</div>
				
			</div>
			<div class="row text-center mt-2 mt-md-5 px-4">
				<div class="col-12 col-md-6">
					<div>
						<div class="mx-auto mb-4 mt-5 mt-md-auto">
							<img src="{{'assets/images/icon-church.svg' | theme }}">
						</div>
						<h3 class="wdng-text-accent">Ceremonia</h3>
						<p>La ceremonia se realizará el <span class="htext">15 de Octubre a las 17:00 horas</span> en la Iglesia Santa Maria y San Nicolas, Lambaré.</p>
						<a href="https://www.google.com/maps/place/San+Nicol%C3%A1s+y+Santa+Mar%C3%ADa,+Lambar%C3%A9/@-25.3240743,-57.6305384,17z/data=!3m1!4b1!4m5!3m4!1s0x945da83b8ab669b7:0xad441469aee0d1c5!8m2!3d-25.3240964!4d-57.628411" class="btn text-white bg-accent mt-2">Ver dirección</a>
					</div>
				</div>
				<div class="col-12 col-md-6 mt-5 mt-md-auto">
					<div>
						<div class="mx-auto mb-4">
							<img src="{{'assets/images/icon-cheer.svg' | theme }}">
						</div>
						<h3 class="wdng-text-accent">Fiesta</h3>
						<p>La fiesta se realizará el  <span class="htext">15 de Octubre a las 18:00</span> horas en Las Takuaras, Lambaré. </p>
						<a href="https://www.google.com/maps/place/Las+Takuaras+Paseo+del+Yacht/@-25.3648857,-57.6408273,17z/data=!4m5!3m4!1s0x945da9e0c977f305:0x34b86cba1bad8478!8m2!3d-25.3648857!4d-57.6386386" class="btn text-white bg-accent mt-2">Ver dirección</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
	
</section>