<footer class="mt-5 py-4">
	<div class="container text-center">
		<div class="row">
			<div class="col-12">
				<h2 class="title mb-0">
					{{settings.nombre_novia }} <span>y</span> {{settings.nombre_novio }}
				</h2>
				<p class="mt-4 mb-0">
					{{settings.boda_tag}}
				</p>
				<p class="">
					{{settings.boda_tag_author}}
				</p>
			</div>
			<div class="col-12">
				<hr>
				<p class="mb-0">

					Diseñado por <a href="https://api.whatsapp.com/send?phone=595985826816&text=Hola!%20Me%20gustar%C3%ADa%20hacer%20consultas%20sobre%20sitios%20o%20invitaciones%20web">Fernando Vera</a>
				</p>
			</div>
		</div>
	</div>
</footer>
