<footer class="contrast-bg mt-5 py-4">
	<div class="container text-center">
		<div class="row">
			<div class="col-12">
				<h2 class="text-light-theme title mb-0">
					{{settings.nombre_novia }} & {{settings.nombre_novio }}
				</h2>
				<p class="text-light-theme">
					{{settings.boda_tag}}
				</p>
				<p class="text-light-theme">
					{{settings.boda_tag_author}}
				</p>
			</div>
			<div class="col-12">
				<hr>
				<p class="text-light-theme mb-0">
					
					Diseñado por <a href="mailto:fjvera.py@gmail.com">fvera</a>
				</p>
			</div>
		</div>
	</div>
</footer>